<div class="max-w-4xl relative">
  <div class="flex flex-col lg:grid grid-cols-2 lg:gap-x-8">
    {{- $page := .Page }}
    {{- range .Page.Params.schedule }}
    <section class="flex flex-col">
      <h3 class="text-2xl mt-10 font-semibold tracking-tight text-blue-900">
        {{ .date }}
      </h3>
      <ol role="list"
          class="mt-4 space-y-4 bg-white/60 px-6 py-4 text-center shadow-xl shadow-blue-900/5 backdrop-blur-sm h-full">
        {{- range $index, $event := .events }}
        <li class="schedule-event">
          {{- if ne $index 0 }}
            <div class="mx-auto mb-4 h-px w-48 bg-indigo-500/10"></div>
          {{- end }}
          <h4 class="text-lg font-semibold tracking-tight text-blue-900">

{{ $event.name }}
          </h4>
          <p class="mt-1 font-mono text-sm text-slate-500">
            {{ .time }}
          </p>
        </li>
        {{- end }}
      </ol>
    </section>
    {{- end }}
  </div>
</div>
